# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [24]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Baruun-Urt,MN,46.6806,113.2792,62.08,26,40,15.64,scattered clouds
1,1,Beringovskiy,RU,63.0500,179.3167,31.71,83,99,14.67,overcast clouds
2,2,Illela,NG,13.7292,5.2975,94.30,36,31,7.94,scattered clouds
3,3,Meulaboh,ID,4.1363,96.1285,73.36,95,100,2.55,light rain
4,4,Hermanus,ZA,-34.4187,19.2345,66.79,68,39,7.56,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [25]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [26]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
12,12,Hilo,US,19.7297,-155.0900,78.28,81,20,8.01,few clouds
13,13,Atuona,PF,-9.8000,-139.0333,76.69,71,41,23.31,scattered clouds
14,14,Alamos,MX,27.0167,-108.9333,76.78,63,0,4.56,clear sky
15,15,Puerto Escondido,MX,15.8500,-97.0667,77.83,78,75,0.00,broken clouds
18,18,Samarai,PG,-10.6167,150.6667,81.46,81,81,10.27,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [29]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
12,12,Hilo,US,19.7297,-155.0900,78.28,81,20,8.01,few clouds
13,13,Atuona,PF,-9.8000,-139.0333,76.69,71,41,23.31,scattered clouds
14,14,Alamos,MX,27.0167,-108.9333,76.78,63,0,4.56,clear sky
15,15,Puerto Escondido,MX,15.8500,-97.0667,77.83,78,75,0.00,broken clouds
18,18,Samarai,PG,-10.6167,150.6667,81.46,81,81,10.27,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [30]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description","Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

                City Country  Max Temp Current Description      Lat       Lng
12              Hilo      US     78.28          few clouds  19.7297 -155.0900
13            Atuona      PF     76.69    scattered clouds  -9.8000 -139.0333
14            Alamos      MX     76.78           clear sky  27.0167 -108.9333
15  Puerto Escondido      MX     77.83       broken clouds  15.8500  -97.0667
18           Samarai      PG     81.46       broken clouds -10.6167  150.6667

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [31]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,Hilo,US,78.28,few clouds,19.7297,-155.0900,
13,Atuona,PF,76.69,scattered clouds,-9.8000,-139.0333,
14,Alamos,MX,76.78,clear sky,27.0167,-108.9333,
15,Puerto Escondido,MX,77.83,broken clouds,15.8500,-97.0667,
18,Samarai,PG,81.46,broken clouds,-10.6167,150.6667,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [33]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [34]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels =  requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,Hilo,US,78.28,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
13,Atuona,PF,76.69,scattered clouds,-9.8000,-139.0333,Villa Enata
14,Alamos,MX,76.78,clear sky,27.0167,-108.9333,Luz del Sol
15,Puerto Escondido,MX,77.83,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
18,Samarai,PG,81.46,broken clouds,-10.6167,150.6667,Nuli Sapi

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [36]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,Hilo,US,78.28,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
13,Atuona,PF,76.69,scattered clouds,-9.8000,-139.0333,Villa Enata
14,Alamos,MX,76.78,clear sky,27.0167,-108.9333,Luz del Sol
15,Puerto Escondido,MX,77.83,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
18,Samarai,PG,81.46,broken clouds,-10.6167,150.6667,Nuli Sapi

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [37]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [39]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [40]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 78.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.69 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Luz del Sol</dd>\n<dt>City</dt><dd>Alamos</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aldea del Bazar Hotel and Spa</dd>\n<dt>City</dt><dd>Puerto Escondido</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nuli Sapi</dd>\n<dt>City</dt><dd>Samarai</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>broken clouds and 81.46 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kimbo Hotel</dd>\n<dt>City</dt><dd>Luau</dd>\n<dt>Country</dt><dd>AO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Haajy Guest House 1</dd>\n<dt>City</dt><dd>Kulhudhuffushi</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.04 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel do Campo</dd>\n<dt>City</dt><dd>Ponta Do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nile Palace Hotel</dd>\n<dt>City</dt><dd>Malakal</dd>\n<dt>Country</dt><dd>SS</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.24 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [41]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
12  19.7297 -155.0900
13  -9.8000 -139.0333
14  27.0167 -108.9333
15  15.8500  -97.0667
18 -10.6167  150.6667
20 -10.7073   22.2247
25   3.0707  172.7902
28   6.6221   73.0700
34  32.6667  -17.1000
35   9.5334   31.6605

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [42]:
# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))